#flip i{
	border: 0px;
}
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
  background-color: #1211CFFF;
  text-align: left;
}
#panel .container .row .col-sm a{
	color: white;
}
#panel .container .row .col-sm a:hover{
	color: #FED67CFF;
}
main  h5 u{
	font-size: 20px;
	font-family: :open sans;
}
main img{
	height: 247px;
	width: 370px;
}





footer{
	margin-top: 40px; 
	color: white;
	background: #1211CFFF;
}
.font-weight-bold{
	color: white;
	text-decoration: none;
}
.font-weight-bold:hover{
	text-decoration: underline;
} 
.list-unstyled li a{
	color: #919393FF;
}
.btn{
	color: white;
	background: #2C53FEFF;
	border: 0;
	width: 250px;
	text-align: left;
}
.btn:hover{
	color: blue;
	background: white;
}
.end{
	background: white;
	color: black;
	font-size: 13px;
}
.ttlh{
	margin-top: -10px
}
